html, body {
    background: black;
    margin: 0;
    padding: 0;
}

div#container {
    background: white;
    font-family: sans-serif;
    margin: 0 auto;
    padding: 0;
    max-width: 800px;
}

header {
    margin: 0;
    padding: 0;
}

div.banner {
    background: #d07030 url(/media/images/banner-background.png)
                repeat-x bottom left;
    color: white;
    padding: 1em 3em;
}

div.banner h1 {
    font-size: 20pt;
    margin: 0;
    padding: 0;
}
div.banner h3 {
    font-size: 10pt;
    margin: 0;
    padding: 0;
}

div.banner #feed {
    display: block;
    float: right;
    margin: 0;
}

#feed img { border: 0; }

p { text-align: justify; }
a { color: #d07030; }

nav.menu {
    margin: 0;
    padding: 0;
}

nav.menu ul {
    display: block;
    margin: 1em auto;
    padding: 0 2em;
    text-align: center;
}

nav.menu ul, nav.menu li {
    list-style-type: none;
}

nav.menu li {
    display: inline;
    margin: 1em;
    padding: 0;
}

nav.menu a {
    font-weight: bold;
    text-decoration: none;
}

nav.menu a:hover {
    color: #e0b070;
    text-decoration: underline;
}

#content {
    margin: 0.5em 0;
    padding: 0.5em 3em;
}

#content h1 {
    margin: 1em 0 1em 0;
    padding: 0;
}

#content h2 {
    margin: 2.5em 0 0.75em 0;
    padding: 0;
}

#content h3 {
    margin: 2em 0 0.5em 0;
    padding: 0;
}

footer {
    padding: 0.25em 3em;
    background: #f0e8e0 url(/media/images/footer-background.png)
                repeat-x bottom left;
}
