{% extends "base.j2" %}

{% block main %}

{% filter markdown %}
<h1>{{ resource.meta.title }}</h1>

<dl>
    <dt>Date</dt>
    <dd>{{ resource.meta.date }}</dd>

    <dt>Lieu</dt>
    <dd>{{ resource.meta.place }}</dd>

{% if resource.meta.poster %}
    <dt>Affiche</dt>
    <dd><a href="{{ resource.meta.poster }}">Télécharger</a></dd>
{% endif %}

    <dt>Conférenciers</dt>
    <dd>
        <ul>
{% for speaker in resource.meta.speakers %}
            <li>{{ speaker }}</li>
{% endfor %}
        </ul>
    </dd>

</dl>

{% block markdowncontent %}{% endblock %}
{% endfilter %}

{% endblock main %}
