{% extends "base.j2" %}

{% block main %}

{% filter markdown %}
<h1>{{ resource.meta.title }}</h1>

<dl>
    <dt>Date</dt>
    <dd>{{ resource.meta.date }}</dd>

    <dt>Lieu</dt>
    <dd>Conférence : {{ resource.meta.place }}</dd>
{% if resource.meta.tp %}
    <dd>TP : {{ resource.meta.tp }}</dd>
{% endif %}

{% if resource.meta.poster %}
    <dt>Affiche</dt>
    <dd><a href="{{ resource.meta.poster }}">Télécharger</a></dd>
{% endif %}

{% if resource.meta.slides %}
    <dt>Diapositives</dt>
    <dd><a href="{{ resource.meta.slides }}">Télécharger</a></dd>
{% endif %}


{% if resource.meta.embed or resource.meta.video %}
    <dt>Vidéo</dt>
{% endif %}
{% if resource.meta.embed %}
    <iframe frameborder="0" width="480" height="270" src="{{ resource.meta.embed }}"></iframe>
{% endif %}
{% if resource.meta.video %}
    <dd><a href="{{ resource.meta.video }}">Visionner</a></dd>
{% endif %}

{% if resource.meta.exercises %}
    <dt>Sujet de TP</dt>
    <dd><a href="{{ resource.meta.exercices }}">Télécharger</a></dd>
{% endif %}

{% if resource.meta.tps %}
    {% for tp in resource.meta.tps %}
        <dt>Sujet de TP "{{ tp.name }}"</dt>
        <dd><a href="{{ tp.link }}">Télécharger</a></dd>
    {% endfor %}
{% endif %}

{% if resource.meta.materials %}
    <dt>Fichiers de TP</dt>
    <dd><a href="{{ resource.meta.materials }}">Télécharger</a></dd>
{% endif %}

    <dt>Conférenciers</dt>
    <dd>
        <ul>
{% for speaker in resource.meta.speakers %}
            <li>{{ speaker }}</li>
{% endfor %}
        </ul>
    </dd>

</dl>

{% block markdowncontent %}{% endblock %}
{% endfilter %}

{% endblock main %}
